<main>
  <div class="centrar">
    <img src="https://pbs.twimg.com/media/GHrlQq9XcAEf0w_?format=jpg&name=360x360">
  </div>
  <section class = "players">
    <h1 class = "players-title">Jugadores</h1>
    <div class = "player" *ngFor="let playerr of players">
      <img [src]="playerr.profilePhoto" class = "img">
      <div>
        <h2 class = "nickname">{{ playerr.nickname }}</h2>
        <h3 class = "username">&#64;{{ playerr.username }}</h3>
      </div>
      <div>
        <h2 class="text-points">Points</h2>
        <h2 class = "text-points">{{points}}</h2>
      </div>
      <div>
        <button class="button-plus" (click)="add()">Sumar</button>
        <button class="button-minus" (click)="subtract()">Restar</button>
      </div>
    </div>
  </section>
  <!--Sección para añadir jugadores-->
  <section class="create-player-form"><h1 class = "players-title">Añadir jugador</h1>
    <form (ngSubmit)="savePlayer()">
      <label>Nick de Twitter: </label>
      <input type="text" name = "nickname" [(ngModel)]="player.nickname" class="inputs">
      <label>Username de Twitter(&#64;): </label>
      <input type="text" name = "username" [(ngModel)]="player.username" class="inputs">
      <label>Link de la foto de perfil: </label>
      <input type="text" name = "profile-photo" [(ngModel)]="player.profilePhoto" id = "profile" class="inputs">
      <button type="submit"><span class="text-button">Crear jugador</span></button>
    </form>
  </section>

</main>
